@{
    ViewData["Title"] = "Personvern";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personvern</title>
    <link rel="stylesheet" href="css/privacy.css">    
</head>

<body>
<h2>Personvern</h2>
    <p> Denne personvernerklæringen beskriver hvordan vi samler, bruker og beskytter dine personopplysninger.
        Ved å bruke Reficio samtykker du til praksisene beskrevet i denne personvernerklæringen.
        Vennligst les dette dokumentet nøye for å forstå våre personvernpraksiser.</p>
        
        <p>1. Informasjon Vi Samler:<br>
        Personlig Informasjon: Vi kan samle personlig informasjon, som navn, e-postadresse og andre kontaktopplysninger, når du frivillig oppgir det til oss.<br>
        Ikke-personlig Informasjon: Vi samler også ikke-personlig informasjon, inkludert, men ikke begrenset til, IP-adresse, nettlesertype og enhetsinformasjon.</p>
        
        <p>2. Hvordan Vi Bruker Din Informasjon:<br>
        Vi bruker informasjonen vi samler for å tilby og forbedre våre tjenester, kommunisere med deg og sikre sikkerheten og integriteten til nettstedet/appen vår.</p>
        
        <p>3. Deling av Din Informasjon:<br>
        Vi vil ikke selge, leie ut eller dele din personlige informasjon med tredjeparter uten ditt eksplisitte samtykke.</p>
        
        <p>4. Informasjonskapsler og Sporing:<br>
        Vi kan bruke informasjonskapsler og lignende sporingsteknologier for å forbedre opplevelsen din på Reficio og for analytiske formål.</p>
        
        <p>5. Sikkerhetstiltak:<br>
        Vi benytter rimelige sikkerhetstiltak for å beskytte dine personopplysninger mot uautorisert tilgang, avsløring eller endring.</p>
</body>
</html>