services:
  database:
    image: mariadb:11.4
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "1"
      MYSQL_DATABASE: CNET
    volumes:
      - datafiles:/var/lib/mysql
      - ./CreateDb.sql:/docker-entrypoint-initdb.d/01_CreateDb.sql:ro
    restart: always

  api:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - database
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    restart: always

volumes:
  datafiles: {}
