@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using CNET.MVC.Entities
@using CNET.MVC.Models.Account
@model LoginViewModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Logg inn";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4 offset-md-4 mt-5 text-center">
        <section>
            <form id="account" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h2>Bruk en lokal konto for å logge inn.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" />
                    <label asp-for="Email" class="form-label">E-post</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" />
                    <label asp-for="Password" class="form-label">Passord</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" /> Husk meg
                    </label>
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Logg inn</button>
                </div>
                <br />
                <div>
                    <p>
                        <a asp-action="ForgotPassword">Glemt passordet ditt?</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Registrer som ny bruker</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <!-- External login section - You can add the code for external logins here if needed -->
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
