@{
    ViewData["Title"] = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

@model CNET.MVC.Models.RazorViewModel
<div class="text-center">
<h1>Velkommen til hjemmesiden!</h1>
@{
    
    <h1>@Model.Content</h1>
    <br>
    <h2>@Model.AdditionalData</h2>

}
<br>
<a class="btn btn-dark" asp-area="" asp-controller="ServiceForm" asp-action="Index">Begynn arbeid</a>
</div>