html {
  font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

h1, h2{
  font-weight: 700;
}

body {
  margin-bottom: 60px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-link {
  position: relative;
  padding-bottom: 5px;
  margin-right: 10px;
}

.navbar-nav .nav-link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s ease;
  box-sizing: border-box;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
}

.logo {
  width: 125px;
  height: auto;
}


